<div class="sidebar">
  <div class="logo-details">
    <div class="logo_name">Preventyon</div>
    <i class='bx bx-menu' id="btn" (click)="toggleSidebar()"></i>
  </div>
  <ul class="nav-list">
    @if(isViewDashboard )
    {
    <li>
      <a (click)="navigateToDashboard()">
        <i class='bx bx-grid-alt'></i>
        <span class="links_name">Dashboard</span>
      </a>
      <span class="tooltip">Dashboard</span>
    </li>
    }
    @if(employeeData?.role?.permission?.userManagement && isAdmin )
    {
    <li>
      <a (click)="usermanage()">
        <i class='bx bx-user'></i>
        <span class="links_name">User Management</span>
      </a>
      <span class="tooltip">User Management</span>
    </li>
    }
    <li>
      <a>
        <i class='bx bx-bell' (click)="openNotification()"></i>
        @if(notificationCount>0)
        {
        <span class="badge">{{notificationCount}}</span>
        }
        <span class="links_name">Notifications</span>
      </a>
      <span class="tooltip">Notifications</span>
    </li>
    @if(employeeData?.role?.name!=='user')
    {
    <li>
      <a (click)="switchUser()">
        <i class='bx bxs-user-account'></i>
        <span class="links_name">Switch</span>
      </a>
      <span class="tooltip">Switch</span>
    </li>
    }
    <li class="profile">
      <div class="logout_icon">
        <i class='bx bx-log-out' id="log_out" (click)="log_out()"></i>
      </div>
      <div class="profile-details">
        <img src="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" alt="profileImg">
        <div class="name_job">
          @if(employeeData)
          {
          <div class="name">{{employeeData.name}}</div>
          <div class="job">{{employeeData.designation|tableTruncate:12}}</div>
          }
        </div>
      </div>
    </li>
  </ul>
</div>

<nav>
  <div class="sidebar-button">
    <span class="dashboard">experion</span>
  </div>
  <div class="profile-details">
    <span class="admin_name">Welcome
      @if(employeeData)
      {
      {{ employeeData.name.split(" ")[0].trim().charAt(0).toUpperCase()+employeeData.name.split("
      ")[0].trim().slice(1).toLowerCase()}}
      }</span>
  </div>
</nav>
@if(isNotificationView)
{
<p-sidebar [(visible)]="isNotificationView" position="right" [modal]="true" [showCloseIcon]="true"
  [style]="{'width.rem': 25}">
  <app-notification-component></app-notification-component>
</p-sidebar>
}