

.card {
    position: relative;
    height: 130px;
    width: 260px;
    color: white;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    margin: 0.4%;
    background: var(--card-color);
    box-shadow: 0 3px 4px #0000001a, 0 24px 36px #0000000a !important;
    transition: width 0.5s ease, height 0.3s ease, padding 0.3s ease;
}

.mat-card-title {
    font-weight: 600;
    font-size: 0.91rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.icon {
    color: white;
    font-size: 0rem !important;
    padding-right: 0rem !important;
}

.mat-card-content {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.d-flex {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.status-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status-number {
    font-size: 1.5rem;
    font-weight: 700;
}

mat-card.expanded {
    width: 230px;
}