<p-confirmDialog></p-confirmDialog>
<div class="card">
    <p-table #dt2 [value]="incidents" [rowHover]="true" (onRowSelect)="viewIncidentData($event)" dataKey="id" [rows]="5"
        [rowsPerPageOptions]="[5,10, 25, 50]" [paginator]="true"
        currentPageReportTemplate="Showing {last} of {totalRecords} entries" sortMode="multiple"
        [globalFilterFields]="['incidentTitle', 'incidentNo', 'category']" paginatorPosition="top"
        selectionMode="single" [(selection)]="selectedIncident">
        <ng-template pTemplate="caption">
            <div style="display: flex; align-items: center;justify-content: space-between;flex-wrap: wrap;">
                <div style="display: flex; align-items: center;">
                    <p-iconField iconPosition="left" class="ml-auto">
                        <p-inputIcon>
                            <i class="pi pi-search"></i>
                        </p-inputIcon>
                        <input pInputText type="text" [(ngModel)]="searchValue" (input)="filterGlobal($event)"
                            placeholder="Search keyword" />
                    </p-iconField>
                    <div class="filter-chips">
                    </div>
                </div>

                <p-multiSelect display="chip" [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                    selectedItemsLabel="{0} columns selected" [style]="{'min-width': '200px'}"
                    placeholder="Choose Columns">
                </p-multiSelect>
                <div *ngIf="!isadmin" style=" align-items: end;">
                    <p-button label="Report Incident" icon="pi pi-plus" (click)="openSidebar()" [outlined]="true" />
                </div>
                <div style="align-items: end;" *ngIf="isadmin">
                    <button type="button" class="export-button" [hidden]="!isadmin" (click)="exportExcel(dt2)"
                        style="margin-right: 1rem;"><i class="bi bi-file-earmark-arrow-up-fill"
                            style="margin-right: 0.5rem; font-size: larger;">
                        </i>Export</button>
                    <input type="file" id="fileInput" style="display: none;" (change)="onFileChange($event)"
                        accept=".xls,.xlsx" />
                    <button type="button" class="export-button" [hidden]="!isadmin" (click)="triggerFileInput()"><i
                            class="bi bi-file-earmark-arrow-down-fill" style="margin-right: 0.5rem; font-size: larger;">
                        </i>Import</button>
                    <button type="button" class="download-template-button" [hidden]="!isadmin"
                        (click)="downloadExcel()"><i class="bi bi-file-earmark-arrow-down-fill"
                            style="margin-right: 0.5rem; font-size: larger;">
                        </i>Download Template</button>
                </div>


            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th *ngIf="isColumnVisible('id')" pSortableColumn="No">No</th>
                <th *ngIf="isColumnVisible('Title')" pSortableColumn="Title">Title</th>
                <th *ngIf="isColumnVisible('Type')" pSortableColumn="Type">Type</th>
                <th *ngIf="isColumnVisible('category')" pSortableColumn="Categories">Categories</th>
                <th *ngIf="isColumnVisible('CreatedAt')" pSortableColumn="Created At">Created At</th>
                <th *ngIf="isColumnVisible('priority')" style="width: 10%" pSortableColumn="Priority">Priority</th>
                <th *ngIf="isColumnVisible('incidentStatus')" pSortableColumn="Status">Status</th>
                <th *ngIf="isColumnVisible('Actions')" pSortableColumn="Actions">Actions</th>
            </tr>
            <tr>
                <th>
                    <p-columnFilter type="text" field="incidentNo" placeholder="Incident No"
                        ariaLabel="Filter Incident No" />
                </th>
                <th>
                    <p-columnFilter type="text" field="incidentTitle" placeholder="Title" ariaLabel="Filter Country" />
                </th>
                <th>
                    <p-columnFilter field="incidentType" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown (ngModel)="value" [options]="types" (onChange)="filter($event.value)"
                                placeholder="Select One" [showClear]="true">
                                <ng-template let-option pTemplate="item">
                                    <p-tag [value]="option.label" [severity]="getSeverity(option.label)" />
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter field="Categories" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown (ngModel)="value" [options]="categories"
                                (onChange)="filterCategories($event.value)" placeholder="Select One" [showClear]="true">
                                <ng-template let-option pTemplate="item">
                                    <p-tag [value]="option.label" [severity]="getSeverity(option.label)" />
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="custom" field="dateField" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true"
                                (onSelect)="onDateRangeSelect()">
                            </p-calendar>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter field="incident.priority" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown (ngModel)="value" [options]="priorities"
                                (onChange)="filterPriority($event.value)" placeholder="Priority" [showClear]="true">
                                <ng-template let-option pTemplate="item">
                                    <p-tag [value]="option.value" [severity]="getSeverity(option.label)" />
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>
                    <p-columnFilter field="incident.incidentStatus" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown (ngModel)="value" [options]="statuses" (onChange)="filterStatus($event.value)"
                                placeholder="Select One" [showClear]="true">
                                <ng-template let-option pTemplate="item">
                                    <p-tag [value]="option.label" [severity]="getSeverity(option.label)" />
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th>

                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-incident>
            @if(!incident.isDraft || !isadmin)
            {
            <tr>
                <td *ngIf="isColumnVisible('id')" [pSelectableRow]="incident">@if(isLoading) {<p-skeleton />}@else{{{
                    incident.incidentNo }}}</td>
                <td *ngIf="isColumnVisible('Title')">@if(isLoading) {<p-skeleton />}@else{
                    <span pTooltip="{{ incident.incidentTitle }}" tooltipPosition="top">
                        <span class="tooltip">
                            {{ incident.incidentTitle | titlecase | tableTruncate: 10 }}
                        </span>
                    </span>}
                </td>

                <td *ngIf="isColumnVisible('Type')">@if(isLoading) {<p-skeleton />}@else{{{ incident.incidentType ?
                    incident.incidentType.replace('Incidents', '').trim() : ''}}}</td>
                <td *ngIf="isColumnVisible('category')">@if(isLoading) {<p-skeleton />}@else{ {{ incident.category |
                    tableTruncate:10}} }</td>
                <td *ngIf="isColumnVisible('CreatedAt')"> @if(isLoading) {<p-skeleton />}@else{{{ incident.createdAt |
                    date:'dd-MM-yy, hh:mm a' }}}</td>
                <td *ngIf="isColumnVisible('priority')">@if(isLoading) {<p-skeleton />}@else{{{ incident.priority }}}
                </td>
                <td *ngIf="isColumnVisible('incidentStatus')">@if(isLoading) {<p-skeleton />}@else{
                    @if(getAssigned && incident.isCorrectionFilled && incident.incidentStatus!== "closed")
                    {
                    <button type="button" class="btn btn-outline-primary  reviewbtn  "
                        [disabled]="incident.isSubmittedForReview" (click)="onSubmitReview(incident)">Submit for
                        Review</button>
                    }
                    @else
                    {
                    @if(incident.isSubmittedForReview && isadmin && incident.incidentStatus!== "closed")
                    {
                    <p-button icon="pi pi-check" class="approvalbtn" [rounded]="true" (click)="onApproval(incident)" />
                    <p-button icon="pi pi-times" [rounded]="true" severity="danger" (click)="onReject(incident)" />
                    }
                    @else if (getAssigned && !incident.accepted) {
                    <p-button icon="pi pi-check" [rounded]="true" (click)="onIncidentAccept(incident)"
                        [appButtonLoading]="isButtonLoading" [disabled]="isButtonLoading" />
                    }
                    @else
                    {
                    <p-tag [value]="getStatusLabel(incident.incidentStatus)"
                        [severity]="getSeverity(incident.incidentStatus)" />
                    }
                    }
                    }
                </td>
                <td *ngIf="isColumnVisible('Actions')">@if(isLoading) {<p-skeleton />}@else{
                    <div class="flex justify-content-center" *ngIf="isadmin">
                        <i class='bx bx-dots-vertical-rounded' (click)="op.toggle($event)"></i>
                        <p-overlayPanel #op>
                            <div class="custom-overlay">
                                <ul class="list-none p-0 m-0 flex flex-column gap-3 custom-list">

                                    <li class="flex align-items-center gap-2 custom-item"
                                        *ngIf="incident.isDraft || isadmin || getAssigned">
                                        <i class="pi pi-file-edit"
                                            style="color: #29A0B1; font-size:1.3rem ; margin-left: 8px;"
                                            (click)="editIncidentData(incident,incident.id)"
                                            [ngClass]="{'faded-edit-icon': incident.incidentStatus === 'closed'}"></i>
                                    </li>
                                    <li class="flex align-items-center gap-2 custom-item" [hidden]="!isadmin">
                                        <i class="bx bxs-file-pdf" [hidden]="!isadmin"
                                            (click)="exportPDF(incident)"></i>
                                    </li>
                                </ul>
                            </div>
                        </p-overlayPanel>
                        <i class="pi pi-send" style="color: #29A0B1; font-size:1.3rem ;"
                            (click)="onIconClick(incident)"></i>
                    </div>
                    <div class="flex justify-content-center" *ngIf="!isadmin">
                        <i class="bx bxs-edit" (click)="editIncidentData(incident,incident.id)"
                            *ngIf="incident.isDraft || getAssigned && incident.accepted"></i>
                        <i class="bx bx-trash" *ngIf="incident.isDraft" style="color: rgb(224, 51, 51);"
                            (click)="deleteDraftIncidentById(incident.id)"></i>
                    </div>
                    }
                </td>
            </tr>
            }
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No Incidents found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-toast />
@if(displayForwardingModal)
{
<app-forward-form-component [visibility]="displayForwardingModal"
    (dialogClosed)="onDialogClosed()"></app-forward-form-component>
}