::ng-deep .p-sidebar-right{
  margin: 10px;
  border-radius: 10px;
  color: black;
}
::ng-deep .p-sidebar-content{
  padding: 0px;
}

.sidebar-title {
font-size: 20px;
font-weight: 400;
margin: 0;
}

.noti-header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 20px;
margin-bottom: 15px;
h3{
  margin: 12px;
}

}
.noti-head{
padding-left: 20px;
}

.clear-btn {
font-size: 12px;
padding: 8px;
}

.notification-content {
padding: 10px;
border-bottom: 1px solid rgb(200, 200, 200);
display: flex;
gap: 10px;
transition: transform 0.5s ease-out;
}

.noti-logo img {
width: 40px;
}

.noti-title {
display: flex;
justify-content: space-between;
width: 100%;
p{
  margin-top: 0;
  font-size: 12px;
}
}

.noti-message {
margin: 0;
padding-bottom: 12px;
font-size: 14px;
}

.noti-footer {
display: flex;
justify-content: space-between;
align-items: center;
}
.timeAgo{
font-size: 12px;
margin: 5px 0;
}
.mark-read {
position: absolute;
color: rgb(60,136,238);
font-size: 12px;
margin: 5px 0;
font-weight: 500;
cursor: pointer;
right: 1rem;
}

.unread {
background-color: rgb(234, 243, 252);
}

.read {
background-color: rgb(253, 253, 253);
}

.priority {
padding: 0 7px;
border-radius: 15px;
}

.priority-high {
color: red;
}

.priority-medium {
color: orange;
}

.priority-low {
color: green;
}

.no-unread {
display: flex;
justify-content: center;
padding: 20px 0;
color: #888;
font-size: 17px;
}

@keyframes slide-out-right {
0% {
transform: translateX(0);
opacity: 1;
}
100% {
transform: translateX(100%);
opacity: 0;
}
}

.slide-out {
animation: slide-out-right 1.5s forwards;
}

::-webkit-scrollbar {
width: 5px;
}

::-webkit-scrollbar-track {
background: #f1f1f1;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
background: #b9b9b9;
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: #888;
}


@keyframes slide-out-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.slide-out-right {
  animation: slide-out-right 1.5s forwards;
}

