@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



$preventyon-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      density: (scale: 0,
      )));

:root {
  @include mat.all-component-themes($preventyon-theme);
}

html,
body {
  height: 100%;
  font-family: "Inter", sans-serif;
  font-stretch: ultra-expanded;
}

body {
  margin: 0;
}

html,
body {
  height: 100%;
}

:root {
  --privacy-color: linear-gradient(to right, rgb(215, 122, 122), rgb(201, 67, 67));
  --security-color: linear-gradient(to right, #d47725, #fd8822);
  --quality-color: linear-gradient(90deg, rgba(101, 163, 246, 1) 0%, rgba(16, 107, 230, 1) 100%);

  .privacy-card {
    --card-color: 	#FF6F61;
    ;

  }

  .security-card {
    --card-color: #188eb3;

  }

  .quality-card {
    --card-color: #4DB6AC;

  }


}


::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #828181;
  /* color of the scrollbar thumb */
  border-radius: 10px;
  /* rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #9c9a9a;
  /* color of the scrollbar thumb on hover */
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.table {
  margin-top: 1rem;
}

.table {
  margin-left: 90px;
  padding-bottom: 3rem;
  transition: all 0.5s ease;
}

.side-navbar {
  display: flex;
  flex-direction: row;
}
.pi 
{
  cursor: pointer;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.p-dialog-footer
{
  display: inline-flex;
    padding-right: 0px;
    align-items: end;
    justify-content: flex-end;
}
.p-toast-top-right {
  top: 10%;
  right: 20px;
}